.sidebar {
  padding:1em;
  background:transparentize(map-get($colors, white), 0.5);

  &-link {
    margin-bottom:0.5em;

    &-text {
      font-size:getFontSize(-1);
      font-weight:400;
      text-transform:uppercase;
      text-decoration:none;
      color:map-get($colors, dusty-grey);
      transition:color 250ms;

      &:hover { color:map-get($colors, mine-shaft); }
    }
  }

  &-toggle {
    position: absolute;
    top: -2.4em;
    left: 0.2em;
    stroke-width: 0;
  }
}

.page .sidebar-mobile {
  width: 100%;
  max-width: 100%;
  position: fixed;
  height: 100%;
  background-color: #eee;
  z-index: 1;
}